body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f8fa;
}

.editable-cell-input {
  border: none !important; /* Remove default border */
  box-shadow: none !important; /* Remove default shadow */
  background-color: transparent; /* Transparent background */
  transition: box-shadow 0.3s ease, border 0.3s ease;
}

.editable-cell-input.bp3-input:focus {
  border: 2px solid #137cbd !important; /* Focus border */
  box-shadow: 0 0 5px #137cbd !important; /* Glow effect */
}
